<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ClientId" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAASYjyi0CNOEOuBQOjc9CemQAAAAACAAAAAAAQZgAAAAEAACAAAAAjjm0kQ1Hr+8WprLtfg+cagJ0TxRWGoowTPpdIb8MP4wAAAAAOgAAAAAIAACAAAACMImN3WmYbm121i0SJ7FnQk+jJjJ2DHXDvhQcoHgEpIVAAAACPFONum3cJ8N+r8j7XU1DJdCWy2UCmuYpJNBVTt86u2flgukVxT3U0aY5kCeQGEWBN0oq3n0OOk0tmO5cagVT6tAgV+lqmMo4+mHdDB8gK5kAAAACq1S8y8YtNHZX3+iaFfUD3TOlx4bxmdHLDCBNVHR1rHSJJkld5i9ne6fPczgHZk4jYA/REd25O59iMtn9/g3Wu"/>
		<add key="ClientSecret" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAASYjyi0CNOEOuBQOjc9CemQAAAAACAAAAAAAQZgAAAAEAACAAAAAogUTS4Kg8/2OM9OIEvPwtQ2a2BdACqS1ZvAyzOGLDuwAAAAAOgAAAAAIAACAAAADsPILnbwFshnKkR4/8nPAXWB5yooTFXocwmD5d/Vhx1TAAAACU85F5GJmZhuk22TU/3+An4itvz2OL0v3Gpc4Q2YpSzNCrS9XL9SECk8uXMGqfNSxAAAAAb05NqIkfkAB17cKhiZql6Onbnt9liwAuz1iu/0Fv9lbZ9V9QKHx+tGevMTWPLnonFXvTASfp8OnWCo8GnW4qxw=="/>
	</appSettings>
</configuration>